$color-font: #33d;
$color1: #ce7579;
$color2: #edc9cb;
$color3: rgb(211, 199, 199);
$color4: #bb6469;
$color-bg-default: rgb(243, 239, 239);
$color-bg-boxes: rgb(155, 2, 194);
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;